{% extends 'blog/base2.html' %}
{% load static %}


{% block content %}

  <body>

<div class="container">

</div>

{% for post in object_list %}

  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 font-italic border-bottom">

      </h3>

<ul>
  <li> <a href="{% url 'article' post.pk %}" {{ post.title }}> </li>
</ul>
        <div>
      <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
          {{ post.category }}</br>

        <p class="blog-post-meta">{{ post.date_posted }} by <a href="#">{{ post.author }}</a>
             </p>
            {% if user.is_authenticated %}
             <p>
          <a href="{% url 'update-post' post.pk %}" >Edit</a>
<small>
          <a href="{% url 'delete-post' post.pk %}" >Delete</a>
            </small>
             </p>
        {% endif %}
      {{ post.photo }}
        {{ post.content| slice:':200'|safe }}
        </p>

      </article><!-- /.blog-post -->
        </div>
<footer class="blog-footer">

</footer>

  </body>
{% endfor %}


{% endblock %}
